.block {
	&-branbook {
		position: relative;
		&:before {
			content:"";
			width: 30%;
			height: 100%;
			background-color: $c;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
		}
		&__decor {
			position: absolute;
			top: 0;
			left: -60px;
			z-index: 3;
		}
		&__dots {
			position: absolute;
			top: 240px;
			left:-160px;
			z-index: 2;
		}
		&__splashes {
			position: absolute;
			top: 120px;
			left:20px;
			z-index: 1;
		}
		&__circle {
			position: absolute;
			top: -5px;
			right: -55px;
			z-index: 1;
		}
		&__content {
			position: relative;
			z-index: 10;
		}
		&__text {
			margin-top: 530px;
			font-family: $ff;
			font-size: $mfz;
			color: $bl;
		}
		&__link {
			transition: all .3s linear;
			color: $bl;
			&:hover {
				margin-left: 10px;
			}
		}
	}
}

/*Adaptive*/
@media(max-width: 1700px) {
	.block {
		&-branbook {
			overflow: hidden;
			&__decor {
				left: 90px;
				top: 30px;
				img {
					max-width: 125%;
				}
			}
			&__dots {
				left: -120px;
				top: 23%;
			}
		}
	}
}

@media(max-width: 768px) {
	.block {
		&-branbook {
			&__decor {
				left: 0;
				top: 90px;
				img {
					max-width: 125%;
				}
			}
			&__splashes {
				top: 170px;
				left: -20px;
				img {
					width: 220px;
				}
			}
			&__circle {
				top: 60px;
				right: 0;
				img {
					width: 300px;
				}
			}
			&__dots {
				left: -120px;
				top: 17%;
				img {
					width: 90%
				}
			}
		}
	}
}
@media(max-width: 546px) {
	.block {
		&-branbook {
			&__decor {
				left: -40px;
			}
			&__splashes {
				top: 110px;
				left: -55px;
				img {
					width: 180px;
				}
			}
			&__circle {
				top: 60px;
				right: 0;
				img {
					width: 250px;
				}
			}
			&__dots {
				left: -120px;
				top: 15%;
				img {
					width: 65%
				}
			}
			&__text {
				margin-top: 400px;
			}
		}
	}
}
@media(max-width: 414px) {
	.block {
		&-branbook {
			&__text {
				margin-top: 350px;
				font-size: 14px;
			}
		}
	}
}
@media(min-width: 1025px) and (max-height: 800px) {
	.block {
		&-branbook {
			&__decor {
				top: -20px;
				img {
					max-width: 110%;
				}
			}
			&__dots {
				top: 14%;
			}
			&__splashes {
				top: 57px;
				left: 75px;
			}
			&__text {
				margin-top: 420px;
			}
		}
	}
}

@media(min-width: 1025px) and (max-height: 740px) {
	.block {
		&-branbook {
			&__decor {
				top: -20px;
				img {
					max-width: 100%;
				}
			}
			&__dots {
				top: 14%;
			}
			&__splashes {
				top: 35px;
				left: 55px;
			}
			&__text {
				margin-top: 400px;
			}
		}
	}
}