.block {
	&-brand {
		&__title {
			margin: 8px 0 45px;
		}
		&__item {
			position: relative;
			cursor: pointer;
			margin-bottom: 25px;
			img {
				max-width: 100%;
			}
			&:hover .block-brand__img_color {
				opacity: 1;
			}
		}
		&__img {
			&_color {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				opacity: 0;
				transition: opacity .5s linear;

			}
		}
	}
}

/*Adaptive*/
@media (max-width: 1024px) {
	.block {
		&-brand {
			&__title {
				font-size: 30px;
				margin: 4px 0 49px;
			}
			&__img {
				&_gray {
					visibility: hidden;
				}
				&_color {
					opacity: 1;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.block {
		&-brand {
			&__title {
				font-size: 25px;
				margin: 4px 0 25px;
			}
			&__img {
				&_gray {
					visibility: hidden;
				}
				&_color {
					opacity: 1;
				}
			}
		}
	}
}
@media (max-width: 546px) {
	.block {
		&-brand {
			&__title {
				font-size: 30px;
				margin: 4px 0 68px;
			}
		}
	}
}
@media (max-width: 414px) {
	.block {
		&-brand {
			&__title {
				font-size: 23px;
				margin: 4px 0 53px;
			}
		}
	}
}
@media (max-width: 375px) {
	.block {
		&-brand {
			&__title {
				font-size: 20px;
				margin: 4px 0 50px;
			}
		}
	}
}
@media (max-width: 320px) {
	.block {
		&-brand {
			&__title {
				font-size: 16px;
				margin: 4px 0 48px;
			}
		}
	}
}
@media (min-width: 1025px) and (max-height: 800px) {
	.block {
		&-brand {
			padding-top: 80px;
			&__content {
				max-width: 85%;
				margin: 0 auto;
			}
			&__title {
				font-size: 30px;
				margin: 4px 0 46px;
			}
		}
	}
}
@media (min-width: 1281px) and (max-height: 950px) {
	.block {
		&-brand {
			padding-top: 80px;
			&__content {
				max-width: 95%;
				margin: 0 auto;
			}
			&__title {
				font-size: 42px;
				margin: 4px 0 49px;
			}
		}
	}
}

@media (min-width: 1281px) and (max-height: 880px) {
	.block {
		&-brand {
			&__content {
				max-width: 90%;
				margin: 0 auto;
			}
			&__title {
				font-size: 35px;
				margin: 4px 0 61px;
			}
		}
	}
}
@media (min-width: 1281px) and (max-height: 800px) {
	.block {
		&-brand {
			&__content {
				max-width: 80%;
				margin: 0 auto;
			}
			&__title {
				font-size: 34px;
				margin: 4px 0 46px;
			}
		}
	}
}

@media (min-width: 1281px) and (max-height: 750px) {
	.block {
		&-brand {
			&__content {
				max-width: 74%;
				margin: 0 auto;
			}
			&__title {
				font-size: 30px;
				margin: 4px 0 46px;
			}
		}
	}
}
