.block {
	&-package {
		padding-top: 70px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		&__title {
			position: relative;
			&:after {
				content: "";
				height: 4px;
				width: 200%;
				background-color: $c;
				position: absolute;
				bottom: -15px;
				left: -105%;
			}
		}
		&__content {
			padding: 80px 48px;
			&_start {
				padding-bottom: 50px;
			}
			&_standart {
				padding-bottom: 150px;
			}
			&_extended {
				padding-bottom: 90px;
			}
		}
		&__name {
			margin-top: 180px;
			img {
				max-width: 100%;
				margin-bottom: -3px;
			}
		}
		&__description {
			font-size: 1.2em;
			line-height: 1.6;
			margin-bottom: 20px;
		}
		&__list {
			font-size: 1.2em;
			line-height: 1.6;
			padding-left: 23px;
			li {
				position: relative;
				&:before {
					content: "»";
					position: absolute;
					left: -18px;
					font-weight: 700;
				}
			}
		}
		.row {
			align-items: flex-end;
		}
	}
}

/*Adaptive*/
@media(max-width: 1600px) {
	.block {
		&-package {
			&__content {
				&_extended {
					padding-bottom: 50px;
				}
			}
		}
	}
}

@media(max-width: 1024px) {
	.block {
		&-package {
			padding-bottom: 0!important;
			&__title {
				margin-bottom: 220px;
			}
			&__name {
				margin-top: 40px;
			}
		}
	}
}

@media(max-width: 768px) {
	.block {
		&-package {
			&__content {
				padding: 60px 15px;
			}
		}
	}
}

@media(max-width: 546px) {
	.block {
		&-package {
			&__content {
				padding: 60px 15%;
			}
			&__title {
				margin-bottom: 0;
			}
			&__name {
				margin-top: 80px;
			}
		}
	}
}

@media (min-width: 1025px) and (max-height: 899px) {
	.block {
		&-package {
			&__content {
				&_start {
					padding-bottom: 20px;
				}
				&_standart {
					padding-bottom: 80px;
				}
				&_extended {
					padding-bottom: 20px;
				}
			}
			&__list,
			&__description {
				font-size: 14px;
			}
		}
	}
}

@media (min-width: 1025px) and (max-height: 750px) {
	.block {
		&-package {
			&__content {
				padding-top: 25px;
			}
		}
	}
}