.container {
	@media (min-width: 1320px) {
	max-width: 1290px;
	}
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: inherit;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 1rem 0;
}


.relative {
	position: relative;
}

.block {
	padding-top: 112px;
}

.p-md-0 {
	@media (min-width: 768px) {
		padding: 0;
	}
}

.pr-xl-0 {
	@media (min-width: 1200px) {
		padding-right: 0;
	}
}

.pl-xl-0 {
	@media (min-width: 1200px) {
		padding-left: 0;
	}
}

.pl-lg-0 {
	@media (min-width: 992px) {
		padding-right: 0;
	}
}

.pl-md-0 {
	@media (min-width: 768px) {
		padding-left: 0;
	}
}


.pl-0 {
	padding-left: 0px;
}

.p-4 {
	padding: 1.5rem;
}

.pl-4 {
	padding-left: 1.5rem;
}

.py-3 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.m-0 {
	margin: 0;
}

.mb-1 {
	margin-bottom: 1rem!important;
}
