@media (max-width: 1600px) {
	.block {
		&-wedo {
			&__content {
				padding-right: 10%;
			}
		}
	}
}

@media (max-width: 1440px) {
	.block {
		&-wedo {
			&__menu {
				li {
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.block {
		&-wedo {
			img {
				height: 123px;
			}
			&__content {
				padding-right: 15%;
			}
		}
		&__slider {
			&_index {
				.slider-certificates {
					padding: 0 70px;
				}
				img {
					width: 180px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.block {
		&-wedo {
			background-size: auto 80%;
			padding-bottom: 0!important;
			&__content {
				padding-right: 20%;
				margin-top: 90px;
			}
			&__title {
				margin-top: 40px;
			}
			&__menu {
				margin-top: 18px;
				li {
					font-size: 18px;
					line-height: 2.3;
				}
			}
			&__item {
				margin-bottom: 50px;
			}
		}
	}
}

@media (max-width: 546px) {
	.block {
		&-wedo {
			background: $bl;
			&__content {
				padding-right: 0;
			}
		}
	}
}

@media (min-width: 1024px) and (max-height: 900px) {
	.block {
		&__slider {
			&_index {
				img {
					width: 200px;
				}
			}
		}
	}
}

@media (min-width: 1025px) and (max-height: 800px) {
	.block {
		&__slider {
			&_index {
				margin-top: -20px;
				img {
					width: 150px;
				}
				.slider-certificates {
					padding: 0 150px;
					margin-top: 20px;
				}
			}
		}
		&__news {
			&__content {
				margin-top: 25px!important;
			}
		}
	}
}

@media (min-width: 1025px) and (max-height: 750px) {
	.block {
		&__news {
			margin-top: 15px;
		}
	}
}

@media (min-width: 1400px) and (max-height: 800px) {
	.block {
		&-wedo {
			img {
				height: 143px;
			}
			&__menu {
				margin-top: 45px;
			}
			&__content {
				margin-top: 90px;
			}
		}
	}
}



