@import 'variables.scss';
/*Reset
===============*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;

	font-size: 100%;
	font-family: $ff;
	line-height: 1;
	font-size: 14px;
	color: $b2;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body.hidden {
	overflow: hidden!important;
}

input,button,textarea{font-family:inherit;}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*--------------------*/

.sprite {
	display: none;
}


/*Header*/
.header {
	padding-top: 20px;
	position: absolute;
	background-color: $wh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	.row {
		align-items: flex-start;
	}
	&__logo {
		img {
			max-width: 100%;
		}
	}
	.logo-fixed {
		display: none;
	}
	&__menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-top: 2px;
		&_mobile {
			height: 100%;
			width: 100%;
			padding: 130px 30px 20px;
			background: $wh;
			position: fixed;
			top: 0;
			visibility: hidden;
			overflow: auto;
			transform: translate3d(100%,0,0);
			transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);
			z-index: 2;
		}
	}
	&__link {
		font-family: $ff;
		font-size: $fz16;
		font-weight: 700;
		color: $b2;
		text-decoration: none;
		transition: color .3s ease;
		&:hover {
			color: $c;
		}
		&:focus {
			color: $b2;
		}
		&:active {
			color: $b2;
		}
	}
	&__phones {
		transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);
		a {
			margin-right: 15px;
			transition: color 0s;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__btn {
		margin-left: 40px;
	}
	&.fixed {
		position: fixed;
		z-index: 1000;
		height: 60px;
		padding: 7px 0;
		background-color: $bl;
		.logo-fixed {
			display: block;
		}
		.logo-nofixed {
			display: none;
		}
		.header__logo {
			img {
				max-height: 46px;
			}
		}
		.header__link {
			color: $wh;
			&:hover {
				color: $c;
			}
		}
		.nav__dropdown__arrow {
			fill: $wh;
		}
		.nav__dropdown__menu {
			background-color: $bl;
			a {
				color: $wh;
				&:hover {
					color: $c;
				}
			}
			&:before {
				border-color: transparent transparent $bl;
			}
		}
	}
}

.nav {
	margin-right: 60px;
	position: relative;
	&__list {
		margin-right: 50px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__dropdown {
		position: relative;
		cursor: pointer;
		&.active {
			span.header__link {
				color: $c;
			}
		}
		&__arrow {
			width: 9px;
			height: 6px;
			display: inline-block;
			position: absolute;
			right: -15px;
			bottom: 50%;
			z-index: 1;
			transform: translateY(50%) rotate(180deg);
			fill: $b2;
			transition: fill .3s ease;
			&.active {
				transform: translateY(50%) rotate(0);
				fill: $c!important;
			}
		}
		&:hover {
			.nav__dropdown__arrow {
				fill: $c;
			}
		}
		&__menu {
			display: none;
			padding: 15px 25px;
			background-color: $wh;
			box-shadow: 0 2px 9px 1px rgba(158, 157, 157, .3);
			position: absolute;
			bottom: -15px;
			left: 0;
			z-index: 10;
			transform: translateY(100%);
			&.show {
				display: block;
			}
			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 6px 7px;
				border-color: transparent transparent #fff;
				line-height: 0;
				content: "";
				position: absolute;
				top: -6px;
				left: 48%;
			}
			a {
				font-family: $ff;
				font-size: 13px;
				font-weight: 400;
				line-height: 1.7;
				white-space: nowrap;
				color: $bl;
				transition: color .2s linear;
				&:hover {
					color: $c;
				}
			}
		}
	}
}
.fullpage {
	transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);
	&.active {
		transform: translateX(-100%);
		transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);
	}
}


.menu {
	&__marker {
		a {
			position: relative;
			&:before {
				content: "";
				width: 4px;
				height: 4px;
				background-color: $b2;
				position: absolute;
				top: 50%;
				left: -15px;
				z-index: 10;
				transform: translateY(-50%);
			}
		}
	}
	&__dots > {
		a {
			position: relative;
			&:before {
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $c;
			position: absolute;
			top: 50%;
			left: -15px;
			z-index: 50;
			transform: translateY(-50%);
			}
		}
	}
}

.burger {
	display: none;
	width: 30px;
	height: 20px;
	padding: 10px 0;
	cursor: pointer;
	position: relative;
	z-index: 100;
	margin-left: 30px;
	margin-top: 5px;
	&__item {
		display: block;
		width: 100%;
		height: 3px;
		background: $b2;
		transition: background .2s linear;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		&:before,
		&:after {
		content: "";
		width: 100%;
		height: 3px;
		background: $b2;
		position: absolute;
		left: 0;
		z-index: 1;
		transition: transform .2s linear;
		}
		&:before {
			top: -8px;
		}
		&:after {
			top: 8px;
		}
	}
	&.active {
			.burger__item {
				background: none;
			}
			.burger__item:before {
				transform-origin: left top;
				transform: rotate(45deg) translateX(-3px);
			}
			.burger__item:after {
				transform-origin: left bottom;
				transform: rotate(-45deg) translateX(-3px);
			}
		}
}




/*Button*/
.btn {
	font-family: $ff;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	color: $b2;
	background-color: $c;
	box-shadow: 0 6px 17px -3px #fecd30;
	border-radius: 20px;
	width: 137px;
	display: block;
	border: none;
	padding: 10px;
	&_center {
		margin: 0 auto;
	}
	&_white {
		background-color: $wh;
		transition: color .2s linear;
		&:hover {
			color: $c;
		}
	}
	&_mt-20 {
		margin-top: 20px;
	}
}

/*Title*/
.title {
	font-family: $ff;
	font-size: 24px;
	font-weight: 700;
	color: $b2;
	display: inline-block;
	position: relative;
	z-index: 2;
	&:before {
		content: "";
		height: 10px;
		width: 97%;
		background-color: $wh;
		position: absolute;
		left: -3px;
		bottom: 0;
		z-index: -1;
	}
	&-line {
		&_yellow {
			&:before {
				background-color: $c;
			}
		}
	}
	&-big {
		font-family: $ff;
		font-size: 3.23em;
		font-weight: 400;
		text-transform: uppercase;
		color: $wh;
		span {
			font-weight: 700;
		}
		&_line {
			position: relative;
			&:after {
				content: "";
				height: 4px;
				width: 100%;
				background-color: $c;
				position: absolute;
				bottom: -15px;
				left: -65%;
			}
		}
		&_black {
			color: $bl;
		}
	}
	&-yellow {
		&_semibold {
			font-family: $ff;
			font-size: 28px;
			font-weight: 600;
			text-transform: uppercase;
			color: $c;
			&:hover {
				color: $c;
			}
		}
	}
}

/*Blocks*/
.block {
	&__text {
		font-family: $ff;
		font-size: $mfz;
		font-weight: 400;
		line-height: 1.3;
		color: $bl;
		&_white {
			color: $wh;
		}
		&-line {
			position: relative;
			z-index: 5;
			padding-left: 26px;
			&:before {
				content: "";
				display: block;
				width: 11px;
				height: 100%;
				background-color: $c;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}
			&_white {
				padding-left: 34px;
				&:before {
					background-color: $wh;
				}
			}
			&-bottom {
				position: relative;
				z-index: 1;
				&:after {
					content: "";
					width: 95%;
					height: 9px;
					background-color: $c;
					left: -2px;
					position: absolute;
					bottom: 0;
					z-index: -1;
				}
			}
		}
	}
	&__news {
		margin-top: 48px;
	}
}

.scroll {
	position: absolute;
	left: 50%;
	margin-left: -15px;
	bottom: 50px;
	width: 30px;
	height: 44px;
	box-shadow: inset 0 0 0 2px #000;
	border-radius: 25px;
	z-index: 2;
	&:before {
		position: absolute;
		left: 50%;
		content: "";
		width: 6px;
		height: 11px;
		margin-left: -3px;
		top: 8px;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-name: scroll;
		border: 2px #000 solid;
		border-radius: 42%;
	}
}

.bg {
	&-yellow {
		background: $c;
	}
	&-gray {
		background-color: $gray;
	}
	&-black {
		background-color: $bl;
	}
}


/*Footer*/
.footer {
	background-color: $bl;
	&__inner {
		padding-bottom: 20px;
	}
	&__content {
		padding-top: 48px;
	}
	&__logo {
		display: block;
		img {
			max-width: 100%;
		}
	}
	&__text {
		font-family: $ff;
		font-size: $mfz;
		font-weight: 400;
		line-height: 1.5;
		color: $wh;
		display: block;
	}
	&__menu {
		a {
			line-height: 2.5;
		}
	}
	&__link {
		cursor: pointer;
		transition: all .3s ease;
		&:hover {
			color: $c;
		}
	}
	&__about {
		display: flex;
		margin-bottom: 24px;
		padding-left: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__info {
		margin-top: 8px;
	}
	&__icon {
		margin-right: 25px;
		&-phone {
			img {
				max-height: 75px;
			}
		}
		&-social {
			margin: 0 0 25px 0;
			display: block;
		}
		img {
			max-width: 100%;
		}
	}
	&__social {
		padding-top: 14px;
		text-align: right;
	}
	&__copyright {
		font-size: 14px;
	}
}

.map-block {
	width: 100%;
	height: 63vh;
}

@import 'page-adaptive.scss';