/*Reset
===============*/
:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-size: 14px;
  color: #0c0c0c;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body.hidden {
  overflow: hidden !important; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

/*--------------------*/
.sprite {
  display: none; }

/*Header*/
.header {
  padding-top: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5; }
  .header .row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .header__logo img {
    max-width: 100%; }
  .header .logo-fixed {
    display: none; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 2px; }
    .header__menu_mobile {
      height: 100%;
      width: 100%;
      padding: 130px 30px 20px;
      background: #fff;
      position: fixed;
      top: 0;
      visibility: hidden;
      overflow: auto;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      z-index: 2; }
  .header__link {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #0c0c0c;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease; }
    .header__link:hover {
      color: #fecd30; }
    .header__link:focus {
      color: #0c0c0c; }
    .header__link:active {
      color: #0c0c0c; }
  .header__phones {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }
    .header__phones a {
      margin-right: 15px;
      -webkit-transition: color 0s;
      -o-transition: color 0s;
      transition: color 0s; }
      .header__phones a:last-child {
        margin-right: 0; }
  .header__btn {
    margin-left: 40px; }
  .header.fixed {
    position: fixed;
    z-index: 1000;
    height: 60px;
    padding: 7px 0;
    background-color: #000; }
    .header.fixed .logo-fixed {
      display: block; }
    .header.fixed .logo-nofixed {
      display: none; }
    .header.fixed .header__logo img {
      max-height: 46px; }
    .header.fixed .header__link {
      color: #fff; }
      .header.fixed .header__link:hover {
        color: #fecd30; }
    .header.fixed .nav__dropdown__arrow {
      fill: #fff; }
    .header.fixed .nav__dropdown__menu {
      background-color: #000; }
      .header.fixed .nav__dropdown__menu a {
        color: #fff; }
        .header.fixed .nav__dropdown__menu a:hover {
          color: #fecd30; }
      .header.fixed .nav__dropdown__menu:before {
        border-color: transparent transparent #000; }

.nav {
  margin-right: 60px;
  position: relative; }
  .nav__list {
    margin-right: 50px; }
    .nav__list:last-child {
      margin-right: 0; }
  .nav__dropdown {
    position: relative;
    cursor: pointer; }
    .nav__dropdown.active span.header__link {
      color: #fecd30; }
    .nav__dropdown__arrow {
      width: 9px;
      height: 6px;
      display: inline-block;
      position: absolute;
      right: -15px;
      bottom: 50%;
      z-index: 1;
      -webkit-transform: translateY(50%) rotate(180deg);
      -ms-transform: translateY(50%) rotate(180deg);
      transform: translateY(50%) rotate(180deg);
      fill: #0c0c0c;
      -webkit-transition: fill .3s ease;
      -o-transition: fill .3s ease;
      transition: fill .3s ease; }
      .nav__dropdown__arrow.active {
        -webkit-transform: translateY(50%) rotate(0);
        -ms-transform: translateY(50%) rotate(0);
        transform: translateY(50%) rotate(0);
        fill: #fecd30 !important; }
    .nav__dropdown:hover .nav__dropdown__arrow {
      fill: #fecd30; }
    .nav__dropdown__menu {
      display: none;
      padding: 15px 25px;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 9px 1px rgba(158, 157, 157, 0.3);
      box-shadow: 0 2px 9px 1px rgba(158, 157, 157, 0.3);
      position: absolute;
      bottom: -15px;
      left: 0;
      z-index: 10;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%); }
      .nav__dropdown__menu.show {
        display: block; }
      .nav__dropdown__menu:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 7px;
        border-color: transparent transparent #fff;
        line-height: 0;
        content: "";
        position: absolute;
        top: -6px;
        left: 48%; }
      .nav__dropdown__menu a {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.7;
        white-space: nowrap;
        color: #000;
        -webkit-transition: color .2s linear;
        -o-transition: color .2s linear;
        transition: color .2s linear; }
        .nav__dropdown__menu a:hover {
          color: #fecd30; }

.fullpage {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .fullpage.active {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

.menu__marker a {
  position: relative; }
  .menu__marker a:before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #0c0c0c;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.menu__dots > a {
  position: relative; }
  .menu__dots > a:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fecd30;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 50;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.burger {
  display: none;
  width: 30px;
  height: 20px;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  z-index: 100;
  margin-left: 30px;
  margin-top: 5px; }
  .burger__item {
    display: block;
    width: 100%;
    height: 3px;
    background: #0c0c0c;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0; }
    .burger__item:before, .burger__item:after {
      content: "";
      width: 100%;
      height: 3px;
      background: #0c0c0c;
      position: absolute;
      left: 0;
      z-index: 1;
      -webkit-transition: -webkit-transform .2s linear;
      transition: -webkit-transform .2s linear;
      -o-transition: transform .2s linear;
      transition: transform .2s linear;
      transition: transform .2s linear, -webkit-transform .2s linear; }
    .burger__item:before {
      top: -8px; }
    .burger__item:after {
      top: 8px; }
  .burger.active .burger__item {
    background: none; }
  .burger.active .burger__item:before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(45deg) translateX(-3px);
    -ms-transform: rotate(45deg) translateX(-3px);
    transform: rotate(45deg) translateX(-3px); }
  .burger.active .burger__item:after {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-45deg) translateX(-3px);
    -ms-transform: rotate(-45deg) translateX(-3px);
    transform: rotate(-45deg) translateX(-3px); }

/*Button*/
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #0c0c0c;
  background-color: #fecd30;
  -webkit-box-shadow: 0 6px 17px -3px #fecd30;
  box-shadow: 0 6px 17px -3px #fecd30;
  border-radius: 20px;
  width: 137px;
  display: block;
  border: none;
  padding: 10px; }

/*Title*/
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #0c0c0c;
  display: inline-block;
  position: relative;
  z-index: 2; }
  .title:before {
    content: "";
    height: 10px;
    width: 97%;
    background-color: #fff;
    position: absolute;
    left: -3px;
    bottom: 0;
    z-index: -1; }
  .title-line_yellow:before {
    background-color: #fecd30; }
  .title-big {
    font-family: "Open Sans", sans-serif;
    font-size: 3.23em;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff; }
    .title-big span {
      font-weight: 700; }
    .title-big_line {
      position: relative; }
      .title-big_line:after {
        content: "";
        height: 4px;
        width: 100%;
        background-color: #fecd30;
        position: absolute;
        bottom: -15px;
        left: -65%; }
  .title-yellow_semibold {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fecd30; }
    .title-yellow_semibold:hover {
      color: #fecd30; }

/*Blocks*/
.block__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.3;
  color: #000; }
  .block__text-line {
    position: relative;
    z-index: 5;
    padding-left: 26px; }
    .block__text-line:before {
      content: "";
      display: block;
      width: 11px;
      height: 100%;
      background-color: #fecd30;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
    .block__text-line_white {
      padding-left: 34px; }
      .block__text-line_white:before {
        background-color: #fff; }

.block__news {
  margin-top: 48px; }

.scroll {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 50px;
  width: 30px;
  height: 44px;
  -webkit-box-shadow: inset 0 0 0 2px #000;
  box-shadow: inset 0 0 0 2px #000;
  border-radius: 25px;
  z-index: 2; }
  .scroll:before {
    position: absolute;
    left: 50%;
    content: "";
    width: 6px;
    height: 11px;
    margin-left: -3px;
    top: 8px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    border: 2px #000 solid;
    border-radius: 42%; }

.bg-yellow {
  background: #fecd30; }

.bg-gray {
  background-color: #f1f2f2; }

/*Footer*/
.footer {
  background-color: #000; }
  .footer__inner {
    padding-bottom: 20px; }
  .footer__content {
    padding-top: 48px; }
  .footer__logo {
    display: block; }
    .footer__logo img {
      max-width: 100%; }
  .footer__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    display: block; }
  .footer__menu a {
    line-height: 2.5; }
  .footer__link {
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .footer__link:hover {
      color: #fecd30; }
  .footer__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
    padding-left: 15px; }
    .footer__about:last-child {
      margin-bottom: 0; }
  .footer__info {
    margin-top: 8px; }
  .footer__icon {
    margin-right: 25px; }
    .footer__icon-phone img {
      max-height: 75px; }
    .footer__icon-social {
      margin: 0 0 25px 0;
      display: block; }
    .footer__icon img {
      max-width: 100%; }
  .footer__social {
    padding-top: 14px;
    text-align: right; }
  .footer__copyright {
    font-size: 14px; }

.map-block {
  width: 100%;
  height: 63vh; }

@media (max-width: 1440px) {
  .title-yellow_semibold {
    font-size: 25px; }
  .scroll {
    display: none; } }

@media (max-width: 1320px) {
  .title-big {
    font-size: 35px; } }

@media (max-width: 1200px) {
  .header__link {
    font-size: 13px; }
  .header .container {
    max-width: 1200px; } }

@media (max-width: 1024px) {
  .title-yellow_semibold {
    font-size: 18px; }
  .map-block {
    height: 35vh; } }

@media (max-width: 992px) {
  .header {
    padding-top: 10px; }
    .header__btn {
      display: none; }
    .header .container {
      max-width: 1200px; }
    .header__phones {
      position: absolute;
      top: 13px;
      left: 50%;
      margin-left: -40px;
      z-index: 1; }
      .header__phones a {
        display: block;
        font-size: 14px;
        line-height: 1.4;
        margin-right: 0; }
    .header__menu_mobile.show {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }
    .header__menu_mobile .header__link {
      font-size: 20px;
      display: block;
      margin-bottom: 25px; }
    .header.fixed .burger__item,
    .header.fixed .burger__item:before,
    .header.fixed .burger__item:after {
      background: #fff; }
    .header.fixed .burger.active .burger__item {
      background: none; }
    .header.fixed .burger.active .burger__item:before,
    .header.fixed .burger.active .burger__item:after {
      background: #fecd30; }
    .header.fixed .header__menu_mobile .header__link {
      color: #0c0c0c; }
    .header.fixed .header__phones {
      top: 8px; }
  .nav {
    display: none; }
  .burger {
    display: block; }
  .footer__text {
    font-size: 14px; } }

@media (max-width: 768px) {
  .title {
    font-size: 22px; }
    .title-big {
      font-size: 35px; }
      .title-big_line:after {
        left: -38%; }
    .title-yellow_semibold {
      font-size: 26px; }
  .footer__menu {
    display: block; }
  .footer__icon {
    width: 20%;
    margin-right: 15px; }
    .footer__icon-social {
      margin-bottom: 30px; }
      .footer__icon-social:last-child {
        margin-bottom: 0; }
      .footer__icon-social img {
        width: 80%; }
  .footer__copyright {
    margin-top: 30px;
    font-size: 12px; } }

@media (max-width: 546px) {
  .header__menu_mobile {
    padding-top: 100px; }
  .header.fixed {
    height: 56px; }
  .block__text {
    font-size: 14px; }
  .footer__logo {
    text-align: center;
    margin-bottom: 50px; }
    .footer__logo img {
      width: 30%; }
  .footer__about {
    padding-left: 0; }
  .footer__freeplace {
    display: none; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px; }
  .footer__icon {
    width: 20%; }
    .footer__icon-social {
      margin-right: 15px; }
      .footer__icon-social:last-child {
        margin-right: 0; }
  .footer__copyright {
    text-align: center; } }

@media (max-width: 414px) {
  .header__phones a {
    font-size: 12px; }
  .title-big {
    font-size: 25px; } }

@media (max-width: 375px) {
  .header__menu_mobile {
    padding-top: 75px; }
  .title {
    font-size: 18px; }
    .title-big {
      font-size: 22px; }
  .footer__text {
    font-size: 13px; }
  .footer__copyright {
    font-size: 10px; } }

@media (max-width: 320px) {
  .header__phones a {
    font-size: 10px; }
  .title {
    font-size: 16px; }
  .footer__text {
    font-size: 12px; } }

@media (max-height: 768px) {
  .map-block {
    height: 55vh; } }

@media (max-width: 1400px) and (min-height: 1000px) {
  .footer__content {
    padding-top: 80px; } }

@media (min-width: 1000px) and (max-height: 850px) {
  .footer__icon {
    width: 20%;
    margin-right: 15px; }
    .footer__icon-social {
      margin-bottom: 35px; }
      .footer__icon-social:last-child {
        margin-bottom: 0; }
  .map-block {
    height: 50vh; } }

@media (min-width: 1400px) and (max-height: 700px) {
  .title-big {
    font-size: 30px; } }

@media (max-width: 375px) and (min-height: 812px) {
  .header.fixed {
    height: 50px; } }

@media (max-width: 375px) and (min-height: 558px) {
  .header.fixed {
    height: 50px; } }
