@media (max-width: 1440px) {
	.title {
		&-yellow {
			&_semibold {
				font-size: 25px;
			}
		}
	}
	.scroll {
		display: none;
	}
}
@media (max-width: 1320px) {
	.title {
		&-big {
			font-size: 35px;
		}
	}
}
@media (max-width: 1200px) {
	.header {
		&__link {
			font-size: $fz13;
		}
		.container {
			max-width: 1200px;
		}
	}
}

@media (max-width: 1024px) {
	.title {
		&-yellow {
			&_semibold {
				font-size: 18px;
			}
		}
	}
	.map-block {
		height: 35vh;
	}
}

@media (max-width: 992px) {
	.header {
		padding-top: 10px;
		&__btn {
			display: none;
		}
		.container {
			max-width: 1200px;
		}
		&__phones {
			position: absolute;
			top: 13px;
			left: 50%;
			margin-left: -40px;
			z-index: 1;
			a {
				display: block;
				font-size: 14px;
				line-height: 1.4;
				margin-right: 0;
			}
		}
		&__menu {
			&_mobile {
				&.show {
					transform: translate3d(0,0,0);
					visibility: visible;
					transition: transform .5s cubic-bezier(0.22, 0.61, 0.36, 1);
				}
			.header__link {
				font-size: 20px;
				display: block;
				margin-bottom: 25px;
			}
			}
		}
		&.fixed {
			.burger__item,
			.burger__item:before,
			.burger__item:after {
				background: $wh;
			}
			.burger.active .burger__item {
				background: none;
			}
			.burger.active .burger__item:before,
			.burger.active .burger__item:after {
				background: $c;
			}
			.header__menu_mobile .header__link {
				color: $b2;
			}
			.header__phones {
				top: 8px;
			}
		}
	}
	.nav {
		display: none;
	}
	.burger {
		display: block;
	}
	.footer {
		&__text {
			font-size: 14px;
		}
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 22px;
		&-big {
			font-size: 35px;
			&_line {
				&:after {
					left: -38%;
				}
			}
		}
		&-yellow {
			&_semibold {
				font-size: 26px;
			}
		}
	}
	.footer {
		&__menu {
			display: block;
		}
		&__icon {
			width: 20%;
			margin-right: 15px;
			&-social {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
				img {
					width: 80%;
				}
			}
		}
		&__copyright {
			margin-top: 30px;
			font-size: 12px;
		}
	}
}

@media (max-width: 546px) {
	.header {
		&__menu {
			&_mobile {
				padding-top: 100px;
			}
		}
		&.fixed {
			height: 56px;
		}
	}
	.block {
		&__text {
			font-size: 14px;
			&-line {
				&-bottom {
					&:after {
						height: 7px;
					}
				}
			}
		}
	}
	.footer {
		&__logo {
			text-align: center;
			margin-bottom: 50px;
			img {
				width: 30%;
			}
		}
		&__about {
			padding-left: 0;
		}
		&__freeplace {
			display: none;
		}
		&__social {
			display: flex;
			justify-content: center;
			margin-top: 40px;
		}
		&__icon {
			width: 20%;
			&-social {
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&__copyright {
			text-align: center;
		}
	}
}

@media (max-width: 414px) {
	.header {
		&__phones {
			a {
				font-size: 12px;
			}
		}
	}
	.title {
		&-big {
			font-size: 25px;
		}
	}
}

@media (max-width: 375px) {
	.header {
		&__menu {
			&_mobile {
				padding-top: 75px;
			}
		}
	}
	.title {
		font-size: 18px;
		&-big {
			font-size: 22px;
		}
	}
	.footer {
		&__text {
			font-size: 13px;
		}
		&__copyright {
			font-size: 10px;
		}
	}
}

@media (max-width: 320px) {
	.header {
		&__phones {
			a {
				font-size: 10px;
			}
		}
	}
	.title {
		font-size: 16px;
	}
	.footer {
		&__text {
			font-size: 12px;
		}
	}
}

@media (max-height: 768px) {
	.map-block {
		height: 55vh;
	}
}

@media (max-width: 1400px) and (min-height: 1000px) {
	.footer {
		&__content {
			padding-top: 80px;
		}
	}
}

@media (min-width: 1000px) and (max-height: 850px) {
	.footer {
		&__icon {
			width: 20%;
			margin-right: 15px;
			&-social {
				margin-bottom: 35px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.map {
		&-block {
			height: 50vh;
		}
	}
}


@media (min-width: 1400px) and (max-height: 700px) {
	.title {
		&-big {
			font-size: 30px;
		}
	}
}

@media (max-width: 375px) and (min-height: 812px) {
	.header {
		&.fixed {
			height: 50px;
		}
	}
}

@media (max-width: 375px) and (min-height: 558px) {
	.header {
		&.fixed {
			height: 50px;
		}
	}
}

