.slider {
	&__block {
		position: relative;
		margin-top: 32px;
		&_partners {
			margin-top: 48px;
		}
	}
	&-trust {
		padding: 0 120px;
		@media(max-width: 1024px) {
			padding: 0 70px;
		}
		@media(max-width: 547px) {
			padding: 0 40px;
		}
		&__item {
			cursor: pointer;
			img {
				margin: 0 auto;
				max-width: 100%;
				@media(min-width: 769px) {
					&:hover {
					box-shadow: 0 2px 9px 1px rgba(158, 157, 157, 0.3);
					}
				}
			}
		}
	}
	&-certificates {
		padding: 0 100px;
		margin-top: 48px;
		&__item {
			img {
				margin: 0 auto;
				width: 234px;
				max-width: 100%;
			}
		}
	}
	&__arrow {
		stroke:#0C0C0C;
		width: 56px;
		height: 22px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		transition: stroke .2s linear;
		cursor: pointer;
		&-prev {
			left: 0;
		}
		&-next {
			right: 0;
			transform: translateY(-50%) rotate(180deg);
		}
		@media(min-width: 769px) {
			&:hover {
				stroke: $c;
			}
		}
		@media(max-width: 1024px) {
			width: 45px;
		}
		@media(max-width: 547px) {
			width: 30px;
		}
	}
}

.slick {
	&-track {
		padding: 5px 0;
	}
}

