@charset "UTF-8";
@import url(bootstrap.min.css);
@import url(slick.min.css);
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#OpenSans") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff") format("woff"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.ttf") format("truetype"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.svg#OpenSans") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/open-sans-v17-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#OpenSans") format("svg"); }

/*Reset
===============*/
:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-size: 14px;
  color: #0c0c0c;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body.hidden {
  overflow: hidden !important; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

/*--------------------*/
.sprite {
  display: none; }

/*Header*/
.header {
  padding-top: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5; }
  .header .row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .header__logo img {
    max-width: 100%; }
  .header .logo-fixed {
    display: none; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 2px; }
    .header__menu_mobile {
      height: 100%;
      width: 100%;
      padding: 130px 30px 20px;
      background: #fff;
      position: fixed;
      top: 0;
      visibility: hidden;
      overflow: auto;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      z-index: 2; }
  .header__link {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #0c0c0c;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease; }
    .header__link:hover {
      color: #fecd30; }
    .header__link:focus {
      color: #0c0c0c; }
    .header__link:active {
      color: #0c0c0c; }
  .header__phones {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }
    .header__phones a {
      margin-right: 15px;
      -webkit-transition: color 0s;
      -o-transition: color 0s;
      transition: color 0s; }
      .header__phones a:last-child {
        margin-right: 0; }
  .header__btn {
    margin-left: 40px; }
  .header.fixed {
    position: fixed;
    z-index: 1000;
    height: 60px;
    padding: 7px 0;
    background-color: #000; }
    .header.fixed .logo-fixed {
      display: block; }
    .header.fixed .logo-nofixed {
      display: none; }
    .header.fixed .header__logo img {
      max-height: 46px; }
    .header.fixed .header__link {
      color: #fff; }
      .header.fixed .header__link:hover {
        color: #fecd30; }
    .header.fixed .nav__dropdown__arrow {
      fill: #fff; }
    .header.fixed .nav__dropdown__menu {
      background-color: #000; }
      .header.fixed .nav__dropdown__menu a {
        color: #fff; }
        .header.fixed .nav__dropdown__menu a:hover {
          color: #fecd30; }
      .header.fixed .nav__dropdown__menu:before {
        border-color: transparent transparent #000; }

.nav {
  margin-right: 60px;
  position: relative; }
  .nav__list {
    margin-right: 50px; }
    .nav__list:last-child {
      margin-right: 0; }
  .nav__dropdown {
    position: relative;
    cursor: pointer; }
    .nav__dropdown.active span.header__link {
      color: #fecd30; }
    .nav__dropdown__arrow {
      width: 9px;
      height: 6px;
      display: inline-block;
      position: absolute;
      right: -15px;
      bottom: 50%;
      z-index: 1;
      -webkit-transform: translateY(50%) rotate(180deg);
      -ms-transform: translateY(50%) rotate(180deg);
      transform: translateY(50%) rotate(180deg);
      fill: #0c0c0c;
      -webkit-transition: fill .3s ease;
      -o-transition: fill .3s ease;
      transition: fill .3s ease; }
      .nav__dropdown__arrow.active {
        -webkit-transform: translateY(50%) rotate(0);
        -ms-transform: translateY(50%) rotate(0);
        transform: translateY(50%) rotate(0);
        fill: #fecd30 !important; }
    .nav__dropdown:hover .nav__dropdown__arrow {
      fill: #fecd30; }
    .nav__dropdown__menu {
      display: none;
      padding: 15px 25px;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 9px 1px rgba(158, 157, 157, 0.3);
      box-shadow: 0 2px 9px 1px rgba(158, 157, 157, 0.3);
      position: absolute;
      bottom: -15px;
      left: 0;
      z-index: 10;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%); }
      .nav__dropdown__menu.show {
        display: block; }
      .nav__dropdown__menu:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 7px;
        border-color: transparent transparent #fff;
        line-height: 0;
        content: "";
        position: absolute;
        top: -6px;
        left: 48%; }
      .nav__dropdown__menu a {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.7;
        white-space: nowrap;
        color: #000;
        -webkit-transition: color .2s linear;
        -o-transition: color .2s linear;
        transition: color .2s linear; }
        .nav__dropdown__menu a:hover {
          color: #fecd30; }

.fullpage {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .fullpage.active {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

.menu__marker a {
  position: relative; }
  .menu__marker a:before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #0c0c0c;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 10;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.menu__dots > a {
  position: relative; }
  .menu__dots > a:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fecd30;
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 50;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.burger {
  display: none;
  width: 30px;
  height: 20px;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  z-index: 100;
  margin-left: 30px;
  margin-top: 5px; }
  .burger__item {
    display: block;
    width: 100%;
    height: 3px;
    background: #0c0c0c;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0; }
    .burger__item:before, .burger__item:after {
      content: "";
      width: 100%;
      height: 3px;
      background: #0c0c0c;
      position: absolute;
      left: 0;
      z-index: 1;
      -webkit-transition: -webkit-transform .2s linear;
      transition: -webkit-transform .2s linear;
      -o-transition: transform .2s linear;
      transition: transform .2s linear;
      transition: transform .2s linear, -webkit-transform .2s linear; }
    .burger__item:before {
      top: -8px; }
    .burger__item:after {
      top: 8px; }
  .burger.active .burger__item {
    background: none; }
  .burger.active .burger__item:before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(45deg) translateX(-3px);
    -ms-transform: rotate(45deg) translateX(-3px);
    transform: rotate(45deg) translateX(-3px); }
  .burger.active .burger__item:after {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-45deg) translateX(-3px);
    -ms-transform: rotate(-45deg) translateX(-3px);
    transform: rotate(-45deg) translateX(-3px); }

/*Button*/
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #0c0c0c;
  background-color: #fecd30;
  -webkit-box-shadow: 0 6px 17px -3px #fecd30;
  box-shadow: 0 6px 17px -3px #fecd30;
  border-radius: 20px;
  width: 137px;
  display: block;
  border: none;
  padding: 10px; }
  .btn_center {
    margin: 0 auto; }
  .btn_white {
    background-color: #fff;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear; }
    .btn_white:hover {
      color: #fecd30; }
  .btn_mt-20 {
    margin-top: 20px; }

/*Title*/
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #0c0c0c;
  display: inline-block;
  position: relative;
  z-index: 2; }
  .title:before {
    content: "";
    height: 10px;
    width: 97%;
    background-color: #fff;
    position: absolute;
    left: -3px;
    bottom: 0;
    z-index: -1; }
  .title-line_yellow:before {
    background-color: #fecd30; }
  .title-big {
    font-family: "Open Sans", sans-serif;
    font-size: 3.23em;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff; }
    .title-big span {
      font-weight: 700; }
    .title-big_line {
      position: relative; }
      .title-big_line:after {
        content: "";
        height: 4px;
        width: 100%;
        background-color: #fecd30;
        position: absolute;
        bottom: -15px;
        left: -65%; }
    .title-big_black {
      color: #000; }
  .title-yellow_semibold {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fecd30; }
    .title-yellow_semibold:hover {
      color: #fecd30; }

/*Blocks*/
.block__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.3;
  color: #000; }
  .block__text_white {
    color: #fff; }
  .block__text-line {
    position: relative;
    z-index: 5;
    padding-left: 26px; }
    .block__text-line:before {
      content: "";
      display: block;
      width: 11px;
      height: 100%;
      background-color: #fecd30;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
    .block__text-line_white {
      padding-left: 34px; }
      .block__text-line_white:before {
        background-color: #fff; }
    .block__text-line-bottom {
      position: relative;
      z-index: 1; }
      .block__text-line-bottom:after {
        content: "";
        width: 95%;
        height: 9px;
        background-color: #fecd30;
        left: -2px;
        position: absolute;
        bottom: 0;
        z-index: -1; }

.block__news {
  margin-top: 48px; }

.scroll {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 50px;
  width: 30px;
  height: 44px;
  -webkit-box-shadow: inset 0 0 0 2px #000;
  box-shadow: inset 0 0 0 2px #000;
  border-radius: 25px;
  z-index: 2; }
  .scroll:before {
    position: absolute;
    left: 50%;
    content: "";
    width: 6px;
    height: 11px;
    margin-left: -3px;
    top: 8px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    border: 2px #000 solid;
    border-radius: 42%; }

.bg-yellow {
  background: #fecd30; }

.bg-gray {
  background-color: #f1f2f2; }

.bg-black {
  background-color: #000; }

/*Footer*/
.footer {
  background-color: #000; }
  .footer__inner {
    padding-bottom: 20px; }
  .footer__content {
    padding-top: 48px; }
  .footer__logo {
    display: block; }
    .footer__logo img {
      max-width: 100%; }
  .footer__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    display: block; }
  .footer__menu a {
    line-height: 2.5; }
  .footer__link {
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .footer__link:hover {
      color: #fecd30; }
  .footer__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
    padding-left: 15px; }
    .footer__about:last-child {
      margin-bottom: 0; }
  .footer__info {
    margin-top: 8px; }
  .footer__icon {
    margin-right: 25px; }
    .footer__icon-phone img {
      max-height: 75px; }
    .footer__icon-social {
      margin: 0 0 25px 0;
      display: block; }
    .footer__icon img {
      max-width: 100%; }
  .footer__social {
    padding-top: 14px;
    text-align: right; }
  .footer__copyright {
    font-size: 14px; }

.map-block {
  width: 100%;
  height: 63vh; }

@media (max-width: 1440px) {
  .title-yellow_semibold {
    font-size: 25px; }
  .scroll {
    display: none; } }

@media (max-width: 1320px) {
  .title-big {
    font-size: 35px; } }

@media (max-width: 1200px) {
  .header__link {
    font-size: 13px; }
  .header .container {
    max-width: 1200px; } }

@media (max-width: 1024px) {
  .title-yellow_semibold {
    font-size: 18px; }
  .map-block {
    height: 35vh; } }

@media (max-width: 992px) {
  .header {
    padding-top: 10px; }
    .header__btn {
      display: none; }
    .header .container {
      max-width: 1200px; }
    .header__phones {
      position: absolute;
      top: 13px;
      left: 50%;
      margin-left: -40px;
      z-index: 1; }
      .header__phones a {
        display: block;
        font-size: 14px;
        line-height: 1.4;
        margin-right: 0; }
    .header__menu_mobile.show {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      -o-transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }
    .header__menu_mobile .header__link {
      font-size: 20px;
      display: block;
      margin-bottom: 25px; }
    .header.fixed .burger__item,
    .header.fixed .burger__item:before,
    .header.fixed .burger__item:after {
      background: #fff; }
    .header.fixed .burger.active .burger__item {
      background: none; }
    .header.fixed .burger.active .burger__item:before,
    .header.fixed .burger.active .burger__item:after {
      background: #fecd30; }
    .header.fixed .header__menu_mobile .header__link {
      color: #0c0c0c; }
    .header.fixed .header__phones {
      top: 8px; }
  .nav {
    display: none; }
  .burger {
    display: block; }
  .footer__text {
    font-size: 14px; } }

@media (max-width: 768px) {
  .title {
    font-size: 22px; }
    .title-big {
      font-size: 35px; }
      .title-big_line:after {
        left: -38%; }
    .title-yellow_semibold {
      font-size: 26px; }
  .footer__menu {
    display: block; }
  .footer__icon {
    width: 20%;
    margin-right: 15px; }
    .footer__icon-social {
      margin-bottom: 30px; }
      .footer__icon-social:last-child {
        margin-bottom: 0; }
      .footer__icon-social img {
        width: 80%; }
  .footer__copyright {
    margin-top: 30px;
    font-size: 12px; } }

@media (max-width: 546px) {
  .header__menu_mobile {
    padding-top: 100px; }
  .header.fixed {
    height: 56px; }
  .block__text {
    font-size: 14px; }
    .block__text-line-bottom:after {
      height: 7px; }
  .footer__logo {
    text-align: center;
    margin-bottom: 50px; }
    .footer__logo img {
      width: 30%; }
  .footer__about {
    padding-left: 0; }
  .footer__freeplace {
    display: none; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px; }
  .footer__icon {
    width: 20%; }
    .footer__icon-social {
      margin-right: 15px; }
      .footer__icon-social:last-child {
        margin-right: 0; }
  .footer__copyright {
    text-align: center; } }

@media (max-width: 414px) {
  .header__phones a {
    font-size: 12px; }
  .title-big {
    font-size: 25px; } }

@media (max-width: 375px) {
  .header__menu_mobile {
    padding-top: 75px; }
  .title {
    font-size: 18px; }
    .title-big {
      font-size: 22px; }
  .footer__text {
    font-size: 13px; }
  .footer__copyright {
    font-size: 10px; } }

@media (max-width: 320px) {
  .header__phones a {
    font-size: 10px; }
  .title {
    font-size: 16px; }
  .footer__text {
    font-size: 12px; } }

@media (max-height: 768px) {
  .map-block {
    height: 55vh; } }

@media (max-width: 1400px) and (min-height: 1000px) {
  .footer__content {
    padding-top: 80px; } }

@media (min-width: 1000px) and (max-height: 850px) {
  .footer__icon {
    width: 20%;
    margin-right: 15px; }
    .footer__icon-social {
      margin-bottom: 35px; }
      .footer__icon-social:last-child {
        margin-bottom: 0; }
  .map-block {
    height: 50vh; } }

@media (min-width: 1400px) and (max-height: 700px) {
  .title-big {
    font-size: 30px; } }

@media (max-width: 375px) and (min-height: 812px) {
  .header.fixed {
    height: 50px; } }

@media (max-width: 375px) and (min-height: 558px) {
  .header.fixed {
    height: 50px; } }

@media (min-width: 1320px) {
  .container {
    max-width: 1290px; } }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400; }

p {
  padding: 0;
  margin: 0 0 1rem 0; }

.relative {
  position: relative; }

.block {
  padding-top: 112px; }

@media (min-width: 768px) {
  .p-md-0 {
    padding: 0; } }

@media (min-width: 1200px) {
  .pr-xl-0 {
    padding-right: 0; } }

@media (min-width: 1200px) {
  .pl-xl-0 {
    padding-left: 0; } }

@media (min-width: 992px) {
  .pl-lg-0 {
    padding-right: 0; } }

@media (min-width: 768px) {
  .pl-md-0 {
    padding-left: 0; } }

.pl-0 {
  padding-left: 0px; }

.p-4 {
  padding: 1.5rem; }

.pl-4 {
  padding-left: 1.5rem; }

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.m-0 {
  margin: 0; }

.mb-1 {
  margin-bottom: 1rem !important; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    webkit-transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    webkit-transform: translateZ(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    webkit-transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    webkit-transform: translateZ(0); } }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-webkit-keyframes scroll {
  0% {
    opacity: 1; }
  to {
    opacity: 0%;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@keyframes scroll {
  0% {
    opacity: 1; }
  to {
    opacity: 0%;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    webkit-transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    webkit-transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    webkit-transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    webkit-transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
    webkit-transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    webkit-transform: scaleX(1); } }

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    webkit-transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    webkit-transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    webkit-transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    webkit-transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
    webkit-transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    webkit-transform: scaleX(1); } }

.block-intro {
  position: relative;
  overflow: hidden; }
  .block-intro img {
    max-width: 100%; }
  .block-intro_p {
    padding-top: 160px; }
  .block-intro__info {
    margin-top: 320px;
    padding-left: 15px; }
  .block-intro__notebook {
    width: 1100px;
    position: absolute;
    top: 160px;
    right: 30px;
    z-index: 2; }
  .block-intro__bust {
    width: 400px;
    position: absolute;
    top: 235px;
    right: 685px;
    z-index: 1; }
  .block-intro__container {
    position: relative; }
  .block-intro__title {
    font-family: "Open Sans", sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    color: #000;
    position: relative;
    z-index: 1; }
    .block-intro__title_mt {
      margin-top: 85px; }
    .block-intro__title:before {
      content: "";
      width: 70%;
      height: 24px;
      background-color: #fecd30;
      position: absolute;
      top: 42px;
      left: -15px;
      z-index: -1; }
  .block-intro__text {
    padding-left: 24px; }
    .block-intro__text_mt {
      margin-top: 96px; }
  .block-intro__btn {
    margin-top: 80px; }
  .block-intro__banner_relative {
    position: relative; }
  .block-intro__airship {
    position: absolute;
    top: 180px;
    right: 100px;
    z-index: 2; }
  .block-intro__cloud {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }

/*Adaptive*/
@media (min-width: 2200px) {
  .block-intro__notebook {
    width: 1350px; }
  .block-intro__bust {
    width: 500px;
    right: 35%; }
  .block-intro__title_mt {
    margin-top: 120px; } }

@media (max-width: 1440px) {
  .block-intro__info {
    margin-top: 250px; }
  .block-intro__notebook {
    width: 60%;
    top: auto;
    bottom: 0; }
  .block-intro__bust {
    width: 21%;
    top: 180px;
    right: 38%; }
  .block-intro__title {
    font-size: 50px; }
  .block-intro__text_mt {
    margin-top: 70px; } }

@media (max-width: 1320px) {
  .block-intro_p {
    padding-top: 120px; }
  .block-intro__notebook {
    width: 67%;
    right: 0; }
  .block-intro__bust {
    width: 25%;
    top: 220px;
    right: 40%; } }

@media (max-width: 1024px) {
  .block-intro_p {
    padding: 120px 0 200px; }
  .block-intro_pb-0 {
    padding-bottom: 0 !important; }
  .block-intro__info {
    margin-top: 150px; }
  .block-intro__bust {
    top: 150px; }
  .block-intro__btn {
    margin-top: 60px; } }

@media (max-width: 992px) {
  .block-intro__row_revers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

@media (max-width: 768px) {
  .block-intro_p {
    padding: 80px 0 100px; }
  .block-intro__info {
    margin-top: 205px;
    padding-left: 0; }
  .block-intro__bust {
    width: 22%;
    top: 175px;
    right: 42%; }
  .block-intro__title {
    margin-top: 495px; } }

@media (max-width: 546px) {
  .block-intro_p {
    padding: 65px 0 40px; }
  .block-intro__info {
    margin-top: 295px; }
  .block-intro__notebook {
    width: 80%;
    top: 65px; }
  .block-intro__bust {
    width: 30%;
    top: 80px;
    right: 48%; } }

@media (max-width: 414px) {
  .block-intro__title {
    margin-top: 350px; }
  .block-intro__text_mt {
    margin-top: 40px; } }

@media (max-width: 375px) {
  .block-intro_p {
    padding: 45px 0 40px; }
  .block-intro__info {
    margin-top: 255px; } }

@media (min-width: 1400px) and (min-height: 700px) {
  .block-intro__airship {
    width: 80%; }
  .block-intro__cloud {
    width: 80%; } }

.block-create {
  overflow: hidden; }
  .block-create_brand {
    background: url("../images/design_back.png") right bottom/auto 96% no-repeat; }
  .block-create__info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    max-width: 270px; }
  .block-create__menu {
    margin-top: 100px;
    padding-left: 50px;
    position: relative;
    z-index: 2; }
    .block-create__menu li {
      margin-bottom: 65px; }
      .block-create__menu li:last-child {
        margin-bottom: 0; }
  .block-create__link {
    font-family: "Open Sans", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #0c0c0c;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease; }
    .block-create__link:before {
      content: "";
      height: 27%;
      width: 80%;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: 5%;
      z-index: -1;
      display: none; }
    .block-create__link_white-line:before {
      background-color: #fecd30; }
    .block-create__link:hover {
      color: #0c0c0c; }
    @media (min-width: 1024px) {
      .block-create__link:hover {
        padding-left: 50px;
        margin-left: 30px; }
        .block-create__link:hover:before {
          left: 3%;
          display: block; } }
  .block-create__letter {
    position: absolute;
    bottom: -280px;
    right: 0;
    z-index: 1; }
    .block-create__letter img {
      max-width: 100%; }

/*Adaptive*/
@media (max-width: 1440px) {
  .block-create__letter {
    width: 350px;
    bottom: -200px;
    right: 70px; } }

@media (max-width: 1320px) {
  .block-create__menu {
    margin-top: 70px; }
    .block-create__menu li {
      margin-bottom: 40px; }
  .block-create__link {
    font-size: 60px; } }

@media (max-width: 1024px) {
  .block-create__link {
    font-size: 50px; }
  .block-create__letter {
    width: 300px;
    bottom: -130px;
    right: 0; } }

@media (max-width: 768px) {
  .block-create_motion {
    background-size: auto 80%;
    background-position: top 30% right -40px; }
  .block-create_bg-right {
    background-size: auto 80%;
    background-position: top 30% right -30px; }
  .block-create__menu {
    padding-left: 5%;
    margin-top: 50px; }
  .block-create__link {
    font-size: 40px; }
  .block-create__letter {
    width: 250px;
    bottom: -100px;
    right: -50px; }
  .block-create__info {
    top: -30px;
    padding-left: 26px;
    max-width: 240px; }
    .block-create__info:before {
      width: 8px; } }

@media (max-width: 546px) {
  .block-create__link {
    font-size: 30px; }
  .block-create__letter {
    width: 200px;
    right: -20px; }
  .block-create__info {
    display: none; } }

@media (max-width: 414px) {
  .block-create__menu {
    margin-top: 40px; }
  .block-create__link {
    font-size: 25px; }
  .block-create__letter {
    width: 130px;
    bottom: -90px; } }

@media (max-width: 375px) {
  .block-create__link {
    font-size: 20px; } }

@media (min-width: 1400px) and (max-height: 800px) {
  .block-create__menu {
    margin-top: 60px; }
    .block-create__menu li {
      margin-bottom: 50px; }
  .block-create__link {
    font-size: 60px; } }

.block-step {
  background: url("../images/step.svg") right bottom/auto 100% no-repeat, #000; }
  .block-step_brand {
    background: url("../images/brand_me.svg") right bottom -50px/auto 98% no-repeat, #000; }
  .block-step__content {
    margin-top: 60px; }
  .block-step__item {
    margin-bottom: 60px;
    display: none; }
    .block-step__item img {
      max-width: 100%; }
  .block-step__img-pl {
    padding-left: 15px; }
  .block-step__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
    margin-top: 16px;
    padding-left: 20px; }

/*Adaptive*/
@media (max-width: 1200px) {
  .block-step__freeplace {
    display: none; } }

@media (max-width: 1024px) {
  .block-step__content {
    padding-left: 0;
    padding-right: 25%; } }

@media (max-width: 992px) {
  .block-step {
    background-size: auto 80%; } }

@media (max-width: 768px) {
  .block-step__item {
    margin-bottom: 50px; } }

@media (max-width: 546px) {
  .block-step {
    background: #000; }
    .block-step__content {
      padding: 0; }
    .block-step__item {
      padding-right: 0;
      text-align: center; }
    .block-step__text {
      padding-left: 0;
      font-size: 20px; }
    .block-step__title {
      max-width: 90%;
      text-align: center;
      margin: 0 auto; }
    .block-step img {
      max-width: 60%; } }

@media (max-width: 414px) {
  .block-step__item {
    margin-bottom: 60px; }
  .block-step__text {
    font-size: 18px; } }

@media (max-width: 320px) {
  .block-step__text {
    font-size: 16px; } }

@media (min-width: 1025px) and (max-height: 900px) {
  .block-step__item {
    margin-bottom: 50px; } }

@media (min-width: 1025px) and (max-height: 800px) {
  .block-step__content {
    max-width: 75%; }
    .block-step__content_many .block-step__text {
      font-size: 14px; }
  .block-step__item {
    margin-bottom: 35px; } }

@media (min-width: 1400px) and (max-height: 800px) {
  .block-step__content {
    max-width: 70%;
    margin-left: 115px; }
  .block-step__item {
    margin-bottom: 40px;
    padding-right: 0; }
    .block-step__item img {
      max-width: 80%; } }

.block-portfolio {
  overflow: hidden; }
  .block-portfolio .row {
    padding-top: 4vh; }
  .block-portfolio .row > * {
    padding: 0; }
  .block-portfolio__item {
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    overflow: hidden;
    -webkit-transition: -webkit-filter .2s linear;
    transition: -webkit-filter .2s linear;
    -o-transition: filter .2s linear;
    transition: filter .2s linear;
    transition: filter .2s linear, -webkit-filter .2s linear; }
    .block-portfolio__item:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }
    .block-portfolio__item img {
      height: 48vh; }

/*Adaptive*/
@media (max-width: 1024px) {
  .block-portfolio .row {
    padding-top: 0; }
  .block-portfolio__item img {
    height: auto;
    max-width: 100%; } }

.block-trust {
  position: relative; }
  .block-trust_yellow-bottom {
    position: relative; }
    .block-trust_yellow-bottom:after {
      content: "";
      width: 100%;
      height: 20%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: #fecd30; }
  .block-trust__slider {
    margin-top: 40px; }
    .block-trust__slider_partners {
      margin-top: 68px; }
  .block-trust__info {
    padding: 80px 0 50px; }
    .block-trust__info_yellow {
      background-color: #fecd30; }
  .block-trust__blanks {
    margin-top: -60px; }
    .block-trust__blanks img {
      max-width: 100%; }

/*Adaptive*/
@media (max-width: 1440px) {
  .block-trust__slider_clients {
    margin-top: 0; }
  .block-trust__info {
    padding-top: 50px; }
  .block-trust__blanks {
    max-width: 90%;
    margin-top: -55px; } }

@media (max-width: 768px) {
  .block-trust__blanks {
    max-width: 90%;
    margin-top: 50px;
    text-align: center; }
    .block-trust__blanks img {
      margin: 0 auto;
      display: block; }
  .block-trust__info {
    padding-bottom: 0; } }

@media (min-width: 1025px) and (max-height: 750px) {
  .block {
    overflow: hidden; }
    .block-trust__text p {
      margin-bottom: 10px; }
    .block-trust__info {
      padding-top: 35px; }
    .block-trust__blanks {
      max-width: 85%; } }

.block-power {
  position: relative; }
  .block-power img {
    max-width: 100%; }
  @media (min-width: 1025px) {
    .block-power .container {
      position: absolute;
      width: 100%;
      left: 50%;
      top: calc(50% + 30px);
      -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
      transform: translate3D(-50%, -50%, 0); } }
  .block-power__content {
    position: relative; }
  .block-power__images {
    width: 100%;
    max-width: 100%;
    margin: 0 auto; }
  .block-power__decor-dash {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none; }
  .block-power__decor-words {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: none; }
  .block-power__decor-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none; }

/*Adaptive*/
@media (max-width: 1440px) {
  .block-power__content {
    margin-top: 0; } }

.block-package {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .block-package__title {
    position: relative; }
    .block-package__title:after {
      content: "";
      height: 4px;
      width: 200%;
      background-color: #fecd30;
      position: absolute;
      bottom: -15px;
      left: -105%; }
  .block-package__content {
    padding: 80px 48px; }
    .block-package__content_start {
      padding-bottom: 50px; }
    .block-package__content_standart {
      padding-bottom: 150px; }
    .block-package__content_extended {
      padding-bottom: 90px; }
  .block-package__name {
    margin-top: 180px; }
    .block-package__name img {
      max-width: 100%;
      margin-bottom: -3px; }
  .block-package__description {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px; }
  .block-package__list {
    font-size: 1.2em;
    line-height: 1.6;
    padding-left: 23px; }
    .block-package__list li {
      position: relative; }
      .block-package__list li:before {
        content: "»";
        position: absolute;
        left: -18px;
        font-weight: 700; }
  .block-package .row {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

/*Adaptive*/
@media (max-width: 1600px) {
  .block-package__content_extended {
    padding-bottom: 50px; } }

@media (max-width: 1024px) {
  .block-package {
    padding-bottom: 0 !important; }
    .block-package__title {
      margin-bottom: 220px; }
    .block-package__name {
      margin-top: 40px; } }

@media (max-width: 768px) {
  .block-package__content {
    padding: 60px 15px; } }

@media (max-width: 546px) {
  .block-package__content {
    padding: 60px 15%; }
  .block-package__title {
    margin-bottom: 0; }
  .block-package__name {
    margin-top: 80px; } }

@media (min-width: 1025px) and (max-height: 899px) {
  .block-package__content_start {
    padding-bottom: 20px; }
  .block-package__content_standart {
    padding-bottom: 80px; }
  .block-package__content_extended {
    padding-bottom: 20px; }
  .block-package__list, .block-package__description {
    font-size: 14px; } }

@media (min-width: 1025px) and (max-height: 750px) {
  .block-package__content {
    padding-top: 25px; } }

.block-brand__title {
  margin: 8px 0 45px; }

.block-brand__item {
  position: relative;
  cursor: pointer;
  margin-bottom: 25px; }
  .block-brand__item img {
    max-width: 100%; }
  .block-brand__item:hover .block-brand__img_color {
    opacity: 1; }

.block-brand__img_color {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear; }

/*Adaptive*/
@media (max-width: 1024px) {
  .block-brand__title {
    font-size: 30px;
    margin: 4px 0 49px; }
  .block-brand__img_gray {
    visibility: hidden; }
  .block-brand__img_color {
    opacity: 1; } }

@media (max-width: 768px) {
  .block-brand__title {
    font-size: 25px;
    margin: 4px 0 25px; }
  .block-brand__img_gray {
    visibility: hidden; }
  .block-brand__img_color {
    opacity: 1; } }

@media (max-width: 546px) {
  .block-brand__title {
    font-size: 30px;
    margin: 4px 0 68px; } }

@media (max-width: 414px) {
  .block-brand__title {
    font-size: 23px;
    margin: 4px 0 53px; } }

@media (max-width: 375px) {
  .block-brand__title {
    font-size: 20px;
    margin: 4px 0 50px; } }

@media (max-width: 320px) {
  .block-brand__title {
    font-size: 16px;
    margin: 4px 0 48px; } }

@media (min-width: 1025px) and (max-height: 800px) {
  .block-brand {
    padding-top: 80px; }
    .block-brand__content {
      max-width: 85%;
      margin: 0 auto; }
    .block-brand__title {
      font-size: 30px;
      margin: 4px 0 46px; } }

@media (min-width: 1281px) and (max-height: 950px) {
  .block-brand {
    padding-top: 80px; }
    .block-brand__content {
      max-width: 95%;
      margin: 0 auto; }
    .block-brand__title {
      font-size: 42px;
      margin: 4px 0 49px; } }

@media (min-width: 1281px) and (max-height: 880px) {
  .block-brand__content {
    max-width: 90%;
    margin: 0 auto; }
  .block-brand__title {
    font-size: 35px;
    margin: 4px 0 61px; } }

@media (min-width: 1281px) and (max-height: 800px) {
  .block-brand__content {
    max-width: 80%;
    margin: 0 auto; }
  .block-brand__title {
    font-size: 34px;
    margin: 4px 0 46px; } }

@media (min-width: 1281px) and (max-height: 750px) {
  .block-brand__content {
    max-width: 74%;
    margin: 0 auto; }
  .block-brand__title {
    font-size: 30px;
    margin: 4px 0 46px; } }

.block-faq {
  background: url("../images/faq.svg") right bottom/auto 95% no-repeat, #f1f2f2; }
  .block-faq__decor-circle {
    position: absolute;
    top: -30px;
    right: -70px;
    z-index: 1; }
  .block-faq__decor-dots {
    position: absolute;
    top: 40%;
    left: -180px;
    z-index: 1; }
  .block-faq__decor-arrow {
    position: absolute;
    bottom: -25px;
    right: 135px;
    z-index: 1; }
  .block-faq__content {
    position: relative;
    z-index: 5;
    min-height: 820px; }
  .block-faq__item {
    margin-bottom: 30px; }
  .block-faq__question {
    font-family: "Open Sans", sans-serif;
    font-size: 1.313em;
    font-weight: 700;
    color: #0c0c0c;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: background-color .7s linear;
    -o-transition: background-color .7s linear;
    transition: background-color .7s linear; }
    .block-faq__question.active {
      background-color: #fecd30; }
  .block-faq__answer {
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    color: #0c0c0c;
    background-color: #fff;
    line-height: 1.5;
    display: none; }
  .block-faq__arrow {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    background-color: #0c0c0c;
    border-radius: 50%;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: -webkit-transform .7s ease-out;
    transition: -webkit-transform .7s ease-out;
    -o-transition: transform .7s ease-out;
    transition: transform .7s ease-out;
    transition: transform .7s ease-out, -webkit-transform .7s ease-out;
    margin-left: 10px;
    position: relative; }
    .block-faq__arrow:before, .block-faq__arrow:after {
      content: "";
      width: 3px;
      height: 18px;
      background-color: #fff;
      border-radius: 5px;
      position: absolute;
      top: 15px; }
    .block-faq__arrow:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 18px; }
    .block-faq__arrow:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      right: 18px; }
    .block-faq__arrow.active {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }

@media (max-width: 1600px) {
  .block-faq__decor-circle {
    right: 135px; }
    .block-faq__decor-circle img {
      width: 350px; } }

@media (max-width: 1400px) {
  .block-faq__decor-arrow {
    bottom: 220px;
    right: 200px; }
    .block-faq__decor-arrow img {
      width: 200px; } }

@media (max-width: 1024px) {
  .block-faq {
    overflow: hidden; }
    .block-faq__decor-circle {
      right: 135px; }
      .block-faq__decor-circle img {
        width: 60%; }
    .block-faq__decor-arrow {
      bottom: -50px;
      right: 200px; }
      .block-faq__decor-arrow img {
        width: 200px; }
    .block-faq__content {
      min-height: auto; } }

@media (max-width: 768px) {
  .block-faq__decor-circle {
    right: -75px;
    top: 0; }
    .block-faq__decor-circle img {
      width: 50%; }
  .block-faq__decor-arrow {
    display: none; }
  .block-faq__decor-dots {
    top: auto;
    bottom: -7%; } }

@media (max-width: 546px) {
  .block-faq {
    background-image: none;
    overflow: hidden; }
    .block-faq__decor-circle {
      right: -275px;
      top: -40px; }
      .block-faq__decor-circle img {
        width: 50%; } }

@media (max-width: 414px) {
  .block-faq__question {
    font-size: 16px; }
  .block-faq__arrow {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35px;
    flex: 0 0 35px;
    width: 35px;
    height: 35px; }
    .block-faq__arrow:before, .block-faq__arrow:after {
      height: 13px;
      top: 11px; }
    .block-faq__arrow:before {
      left: 12px; }
    .block-faq__arrow:after {
      right: 12px; } }

@media (max-width: 414px) {
  .block-faq__question {
    font-size: 14px; }
  .block-faq__answer {
    font-size: 14px; }
  .block-faq__arrow {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25px;
    flex: 0 0 25px;
    width: 25px;
    height: 25px; }
    .block-faq__arrow:before, .block-faq__arrow:after {
      height: 10px;
      top: 6px; }
    .block-faq__arrow:before {
      left: 8px; }
    .block-faq__arrow:after {
      right: 8px; } }

.block-branbook {
  position: relative; }
  .block-branbook:before {
    content: "";
    width: 30%;
    height: 100%;
    background-color: #fecd30;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }
  .block-branbook__decor {
    position: absolute;
    top: 0;
    left: -60px;
    z-index: 3; }
  .block-branbook__dots {
    position: absolute;
    top: 240px;
    left: -160px;
    z-index: 2; }
  .block-branbook__splashes {
    position: absolute;
    top: 120px;
    left: 20px;
    z-index: 1; }
  .block-branbook__circle {
    position: absolute;
    top: -5px;
    right: -55px;
    z-index: 1; }
  .block-branbook__content {
    position: relative;
    z-index: 10; }
  .block-branbook__text {
    margin-top: 530px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    color: #000; }
  .block-branbook__link {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    color: #000; }
    .block-branbook__link:hover {
      margin-left: 10px; }

/*Adaptive*/
@media (max-width: 1700px) {
  .block-branbook {
    overflow: hidden; }
    .block-branbook__decor {
      left: 90px;
      top: 30px; }
      .block-branbook__decor img {
        max-width: 125%; }
    .block-branbook__dots {
      left: -120px;
      top: 23%; } }

@media (max-width: 768px) {
  .block-branbook__decor {
    left: 0;
    top: 90px; }
    .block-branbook__decor img {
      max-width: 125%; }
  .block-branbook__splashes {
    top: 170px;
    left: -20px; }
    .block-branbook__splashes img {
      width: 220px; }
  .block-branbook__circle {
    top: 60px;
    right: 0; }
    .block-branbook__circle img {
      width: 300px; }
  .block-branbook__dots {
    left: -120px;
    top: 17%; }
    .block-branbook__dots img {
      width: 90%; } }

@media (max-width: 546px) {
  .block-branbook__decor {
    left: -40px; }
  .block-branbook__splashes {
    top: 110px;
    left: -55px; }
    .block-branbook__splashes img {
      width: 180px; }
  .block-branbook__circle {
    top: 60px;
    right: 0; }
    .block-branbook__circle img {
      width: 250px; }
  .block-branbook__dots {
    left: -120px;
    top: 15%; }
    .block-branbook__dots img {
      width: 65%; }
  .block-branbook__text {
    margin-top: 400px; } }

@media (max-width: 414px) {
  .block-branbook__text {
    margin-top: 350px;
    font-size: 14px; } }

@media (min-width: 1025px) and (max-height: 800px) {
  .block-branbook__decor {
    top: -20px; }
    .block-branbook__decor img {
      max-width: 110%; }
  .block-branbook__dots {
    top: 14%; }
  .block-branbook__splashes {
    top: 57px;
    left: 75px; }
  .block-branbook__text {
    margin-top: 420px; } }

@media (min-width: 1025px) and (max-height: 740px) {
  .block-branbook__decor {
    top: -20px; }
    .block-branbook__decor img {
      max-width: 100%; }
  .block-branbook__dots {
    top: 14%; }
  .block-branbook__splashes {
    top: 35px;
    left: 55px; }
  .block-branbook__text {
    margin-top: 400px; } }

.slider__block {
  position: relative;
  margin-top: 32px; }
  .slider__block_partners {
    margin-top: 48px; }

.slider-trust {
  padding: 0 120px; }
  @media (max-width: 1024px) {
    .slider-trust {
      padding: 0 70px; } }
  @media (max-width: 547px) {
    .slider-trust {
      padding: 0 40px; } }
  .slider-trust__item {
    cursor: pointer; }
    .slider-trust__item img {
      margin: 0 auto;
      max-width: 100%; }
      @media (min-width: 769px) {
        .slider-trust__item img:hover {
          -webkit-box-shadow: 0 2px 9px 1px rgba(158, 157, 157, 0.3);
          box-shadow: 0 2px 9px 1px rgba(158, 157, 157, 0.3); } }

.slider-certificates {
  padding: 0 100px;
  margin-top: 48px; }
  .slider-certificates__item img {
    margin: 0 auto;
    width: 234px;
    max-width: 100%; }

.slider__arrow {
  stroke: #0C0C0C;
  width: 56px;
  height: 22px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  -webkit-transition: stroke .2s linear;
  -o-transition: stroke .2s linear;
  transition: stroke .2s linear;
  cursor: pointer; }
  .slider__arrow-prev {
    left: 0; }
  .slider__arrow-next {
    right: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg); }
  @media (min-width: 769px) {
    .slider__arrow:hover {
      stroke: #fecd30; } }
  @media (max-width: 1024px) {
    .slider__arrow {
      width: 45px; } }
  @media (max-width: 547px) {
    .slider__arrow {
      width: 30px; } }

.slick-track {
  padding: 5px 0; }

.block-wedo {
  background: url("../images/we_create.svg") bottom right no-repeat, #000; }
  .block-wedo__content {
    margin-top: 112px;
    text-align: center; }
    .block-wedo__content img {
      height: 153px; }
  .block-wedo__title {
    margin-top: 64px;
    display: block; }
  .block-wedo__menu {
    padding-left: 0;
    margin-top: 56px; }
    .block-wedo__menu li {
      font-size: 16px;
      line-height: 2.5; }
  .block-wedo__link {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 1.3;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    display: inline-block;
    padding: 5px; }
    .block-wedo__link:hover {
      color: #000;
      background-color: #fff; }

@media (max-width: 1600px) {
  .block-wedo__content {
    padding-right: 10%; } }

@media (max-width: 1440px) {
  .block-wedo__menu li {
    font-size: 14px; } }

@media (max-width: 1024px) {
  .block-wedo img {
    height: 123px; }
  .block-wedo__content {
    padding-right: 15%; }
  .block__slider_index .slider-certificates {
    padding: 0 70px; }
  .block__slider_index img {
    width: 180px; } }

@media (max-width: 768px) {
  .block-wedo {
    background-size: auto 80%;
    padding-bottom: 0 !important; }
    .block-wedo__content {
      padding-right: 20%;
      margin-top: 90px; }
    .block-wedo__title {
      margin-top: 40px; }
    .block-wedo__menu {
      margin-top: 18px; }
      .block-wedo__menu li {
        font-size: 18px;
        line-height: 2.3; }
    .block-wedo__item {
      margin-bottom: 50px; } }

@media (max-width: 546px) {
  .block-wedo {
    background: #000; }
    .block-wedo__content {
      padding-right: 0; } }

@media (min-width: 1024px) and (max-height: 900px) {
  .block__slider_index img {
    width: 200px; } }

@media (min-width: 1025px) and (max-height: 800px) {
  .block__slider_index {
    margin-top: -20px; }
    .block__slider_index img {
      width: 150px; }
    .block__slider_index .slider-certificates {
      padding: 0 150px;
      margin-top: 20px; }
  .block__news__content {
    margin-top: 25px !important; } }

@media (min-width: 1025px) and (max-height: 750px) {
  .block__news {
    margin-top: 15px; } }

@media (min-width: 1400px) and (max-height: 800px) {
  .block-wedo img {
    height: 143px; }
  .block-wedo__menu {
    margin-top: 45px; }
  .block-wedo__content {
    margin-top: 90px; } }

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 48px -8px 0; }

.news__col {
  padding: 0 8px;
  width: 25%; }

.news__item {
  padding: 24px;
  -webkit-box-shadow: 0 2px 9px 1px rgba(158, 157, 157, 0.3);
  box-shadow: 0 2px 9px 1px rgba(158, 157, 157, 0.3);
  min-height: 100%; }

.news__title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
  display: block;
  min-height: 60px; }
  .news__title_short {
    padding-top: 10px; }
  .news__title:hover {
    color: #fecd30; }

.news__anons {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  margin: 8px 0 24px;
  min-height: 84px; }

.news__info {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #58595b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .news__info img {
    vertical-align: bottom; }

.news__tags {
  max-width: 120px; }

@media (max-width: 1024px) {
  .news__col {
    width: 50%;
    margin-bottom: 16px; } }

@media (max-width: 414px) {
  .news__col {
    width: 100%; } }

.block-intro_motion {
  text-align: center;
  background: url("../images/intro.svg") top 150px left 85% no-repeat;
  background-size: 88%; }

.block-intro__camera {
  display: inline-block;
  max-width: 100%;
  margin-top: 215px; }
  .block-intro__camera img {
    max-height: 70vh; }

.block-intro__oscar {
  position: absolute;
  top: 300px;
  right: 18%;
  z-index: 1; }

.block-create_motion {
  background: url("../images/motion.svg") right bottom/auto 100% no-repeat, #fecd30; }

.block-clip {
  overflow: hidden; }
  .block-clip__title:before {
    background-color: #fecd30; }
  .block-clip__content {
    margin-top: 45px;
    position: relative;
    z-index: 2; }
    .block-clip__content:before {
      content: "";
      width: 288px;
      height: 475px;
      background: url("../images/dots-yellow.svg");
      position: absolute;
      top: 60px;
      right: -200px;
      z-index: -1; }
  .block-clip__item {
    display: block;
    margin-bottom: 24px; }
  .block-clip img {
    max-width: 100%; }

.block-popcorn {
  padding-bottom: 30px; }
  .block-popcorn__img {
    margin-left: -105px; }
  .block-popcorn__text {
    padding-top: 120px; }
  .block-popcorn__btn {
    margin: 70px auto 0; }

@media (max-width: 1320px) {
  .block-intro_motion {
    background-position: top 120px left 30%;
    background-size: 95%; }
  .block-intro__camera {
    margin-top: 170px;
    margin-left: -15%; }
    .block-intro__camera img {
      max-height: 60vh; }
  .block-intro__oscar {
    width: 200px;
    top: 235px;
    right: 20%; }
  .block-popcorn__img img {
    width: 100%; } }

@media (max-width: 1024px) {
  .block {
    padding: 56px 0; }
    .block-intro_motion {
      background-position: top 100px left 30%; }
    .block-intro__camera {
      margin: 135px 0 80px -15%; }
      .block-intro__camera img {
        max-height: 30vh; }
    .block-intro__oscar {
      width: 160px;
      top: 195px; }
    .block-clip__content:before {
      top: auto;
      bottom: -2%;
      right: -50px; } }

@media (max-width: 768px) {
  .block-intro__camera {
    margin: 135px 0 40px -15%; }
  .block-intro__oscar {
    width: 120px;
    top: 170px; }
  .block-create_motion {
    background-size: auto 80%;
    background-position: top 30% right -40px; }
  .block-popcorn__img {
    margin-left: 0; }
  .block-popcorn__text {
    padding-top: 50px; } }

@media (max-width: 546px) {
  .block-intro__oscar {
    width: 80px;
    top: 150px; }
  .block-clip__content {
    padding: 0 10px; }
    .block-clip__content:before {
      right: -45px; } }

@media (max-width: 414px) {
  .block-intro_motion {
    background-position: top 100px left 30%; }
  .block-intro__camera {
    margin: 105px 0 30px -15%; }
    .block-intro__camera img {
      max-height: 25vh; }
  .block-intro__oscar {
    width: 60px;
    top: 140px; } }

@media (max-width: 375px) {
  .block-intro__oscar {
    width: 50px;
    top: 130px;
    right: 18%; } }

@media (min-width: 1025px) and (max-height: 900px) {
  .block-clip__content {
    max-width: 90%; } }

@media (min-width: 1025px) and (max-height: 800px) {
  .block-clip__content {
    max-width: 80%; } }

@media (min-width: 1400px) and (max-height: 800px) {
  .block-intro__camera {
    margin-top: 200px; }
  .block-intro__oscar {
    width: 200px;
    top: 280px; }
  .block-clip__content {
    max-width: 68%; } }

@media (min-width: 1024px) and (max-height: 768px) {
  .block-intro__camera img {
    max-height: 40vh; } }
